[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gdown = "*"
transformers = "*"
datasets = "*"
pathlib = "*"
uvicorn = "*"
torch = "*"
accelerate = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
